.cta {
  display: inline-block;
  background: #e62b1e;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin: 0 auto;

  &:hover {
    background-color: #c1271a;
  }
  
  @media (min-width: 768px) {
    .cta {
      padding: 14px 28px;
      font-size: 16px;
    }
  }
  
  @media (min-width: 1025px) {
    .cta {
      font-size: 18px;
      padding: 16px 32px;
    }
  }
}
